.loginButton{
    padding:.8rem .5rem;
    margin:1rem;
    font-weight: bold;
}
.loginButton:hover{
    cursor: pointer;
}

.logoutButton{
    padding:.8rem .5rem;
    margin:1rem;
    font-weight: bold;
}
.logoutButton:hover{
    cursor: pointer;
}